@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";


:root {
  --orange: #ff7f0e;
  --dark-bg: #0f0f0f;
  --light-text: #f8f9fa;
  --secondary-bg: #171717;
}

body {
  background-color: var(--dark-bg);
  color: var(--light-text);
  font-family: 'Tajawal', sans-serif;
  direction: rtl;
}




a {
  color: var(--orange);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn-primary {
  background-color: var(--orange);
  border-color: var(--orange);
}

.btn-primary:hover {
  filter: brightness(0.9);
  border-color: var(--orange);
}

.bg-orange {
  background-color: var(--orange) !important;
}

.text-orange {
  color: var(--orange) !important;
}

.card {
  background-color: var(--secondary-bg);
  border: none;
  color: var(--light-text);
}

.badge-category {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  background-color: var(--orange);
  color: #000;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.text-muted {
  color: wheat !important;
}

.hero-bg {
  position: relative !important;
  z-index: -1 !important;
}

.bg-dark-subtle {
  background-color: #1d1a1a !important;
}

.badge {
  background-color: var(--orange);
  color: wheat !important;
}